.foundation{
  display: flex;
  width: 80vw;
  height: 10vh;
  background-color: black;
  color: white;
  text-transform: uppercase;
  font-size: 20px;
  align-items: center;
  justify-content: center;
}

.room {
  background-color: rgb(236, 236, 236);
  width: 80vw;
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
  padding: 10px 10px;
  margin: 10px 0;
}

.room_pillar_container {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.pillar {
  background-color: white;
  height: 30vh;
  padding: 10px 10px;
}

.roof {
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
  background-color:gold;
  width: 80vw;
  height: 5vh
}

.balance {
  position: relative;
  bottom: 10%;
  height: 50px;
  padding: 10px;
  background-color: black;
  text-align: center;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: bold;
  color: white;
  margin: 10px 0;
}